.header-info>li>a:hover {
    text-decoration: none;
}

.list-table {
    table-layout: fixed;
}

.list-table td {
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    empty-cells: show;
}

.list-table tr {
    cursor: pointer;
    height: 61px;
}

.attchment-table{
    font-size: 13px;
}

.timespan-status {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0px 5px;
    float: none;
    color: #3a87ad;
}

.timespan-expired, .timespan-today, .timespan, .timespan-day, .timespan-week, .timespan-month {
    font-size: 20px;
    text-align: center;
    margin: 0px 5px;
    float: none;
}

.timespan-expired {
    color: #999999;
}

.timespan-day {
    color: #b94a48;
}

.timespan-week {
    color: #c09853;
}

.timespan-month {
    color: #468847;
}

.btn-new {
    width: 100px;
}

.btn-action {
    width: 46px;
}

.btn-checkbox {
    padding: 1px 10px;
    float: left;
}

.toolbar-hr {
    margin: 0px 0px 10px 0px;
    border-top: 1px solid #e5e5e5;
}

.item-action {
    /*display: none;*/
}

.input-append-search {
    margin-bottom: 0px;
}

.nav-header > h5 {
    margin-bottom: 0px;
}

.title-content-hr {
    margin: 5px 0px;
    border-top: 1px solid #e5e5e5;
}

.comment-content {
    font-size: 13px;
    text-indent: 2em;
    margin-bottom: 20px;
}

.comment-user, .comment-date {
    color: #999;
    font-size: 13px;
    margin-right: 5px;
}

.comment-action-link {
    font-size: 13px;
}

.note-item {
    margin-top: 10px;
    margin-bottom: 20px;
}

.note-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.note-content {
    font-size: 13px;
}

.note-hr {
    margin: 5px 0px;
    border-top: 1px dashed #e5e5e5;
}

.note-date {
    color: #999;
    font-size: 13px;
    margin-right: 5px;
}

.note-detail-date {
    color: #999;
    font-size: 13px;
    margin-top: 10px;
}

.note-detail-hr {
    margin: 15px 0px;
    border-top: 1px dashed #e5e5e5;
}

/*
.nav-list > .active > a {
    padding-left: 12px;
    font-weight: bold;
    color: #dd4b39;
    text-shadow: none;
    background-color: transparent;
    border-left: 3px solid #dd4b39;
}*/
