.header-info>li>a:hover {
    text-decoration: none;
}

.table {
    table-layout: fixed;
}

.table td {
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    empty-cells: show;
}

.table tr {
    cursor: pointer;
}

.timespan-expired, .timespan-today {
    color: #b94a48;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
}

.timespan, .timespan-day, .timespan-week, .timespan-month {
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
}

.timespan-day {
    color: #b94a48;
}

.timespan-week {
    color: #c09853;
}

.timespan-month {
    color: #468847;
}

.btn-new {
    width: 100px;
}

.btn-action {
    width: 46px;
}

.btn-checkbox {
    padding: 1px 10px;
    float: left;
}

.edit-hr {
    margin: 0px 0px 10px 0px;
}

.item-action {
    /*display: none;*/
}

.input-append-search {
    margin-bottom: 0px;
}

.nav-header > h5 {
    margin-bottom: 0px;
}

/*
.nav-list > .active > a {
    padding-left: 12px;
    font-weight: bold;
    color: #dd4b39;
    text-shadow: none;
    background-color: transparent;
    border-left: 3px solid #dd4b39;
}*/
